@media screen and (max-width: 375px) and (max-height: 812px){ 
    
    *{
        font-size: 20px;
    }

    body{
        background-image: url('iphone.jpg');
        background-repeat: no-repeat;
    }

    .container{
        margin: 23px;
        width: 70%;
    }

    ul{
        list-style: none;
        margin-top: 365px;
    }

   .insta{
       text-align: center;
       margin-bottom: 10px;
       padding: 8px;
       border: 1px solid gray;

   }

   .face{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .whats{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .card{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }
} 

@media screen and (max-width: 400px) and (max-height: 600px){ 
    
    *{
        font-size: 20px;
    }

    body{
        background-image: url('celular.png');
        background-repeat: no-repeat;
    }

    .container{
        margin: 45px;
        width: 70%;
    }

    ul{
        list-style: none;
        margin-left: 10px;
        margin-top: 300px;
    }

   .insta{
       text-align: center;
       margin-bottom: 10px;
       padding: 8px;
       border: 1px solid gray;

   }

   .face{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .whats{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .card{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }
} 
    
    *{
        font-size: 20px;
    }

    body{
        background-image: url('iphone.jpg');
        background-repeat: no-repeat;
    }

    .container{
        margin: 45px;
        width: 70%;
    }

    ul{
        list-style: none;
        margin-left: 50px;
        margin-top: 300px;
    }

   .insta{
       text-align: center;
       margin-bottom: 10px;
       padding: 8px;
       border: 1px solid gray;

   }

   .face{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .whats{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }

    .card{
        text-align: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid gray;
    }
 




